.blockLinks {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 50px;
}

.img {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 350px 100px;
}
