@import url("reset.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

.pageContainer {
	width: 100%;
}
.header {
	height: 100%;
	background: BurlyWood;
}

.header h1 {
	font-family: Helvetica;
	font-size: 3.5vw;
	line-height: 57px;
	color: #ffffff;
	text-align: left;
	box-sizing: border-box;
	padding: 50px;
}

.nameSurname h1 {
	font-family: Helvetica;
	font-size: 50px;
	line-height: 57px;
	color: #ffffff;
}
.img {
	background: url("../img/2520298313_b99575fff9_b.jpg") no-repeat;
	background-size: cover;
	background-position: center;
	padding-bottom: 100%;
}
.blockLinks {
	background: BurlyWood;
	height: 100%;
	text-align: left;
	box-sizing: border-box;
	padding: 30px;
}
.blockLinks a {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 1.5vw;
	line-height: 29px;
	color: #ffffff;
	text-decoration: none;
}
.aboutMe p {
	background-color: cadetblue;
	height: 637px;
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-size: 40px;
	line-height: 57px;
	color: #000000;
	text-align: center;
	box-sizing: border-box;
	padding: 30px;
}
.aboutMe h2 {
	background-color: cadetblue;
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	line-height: 57px;
}
.footer {
	height: 100%;
	margin: auto;
	background: BurlyWood;
	display: flex;
	justify-content: space-between;
	padding: 50px;
}
.imgLogo {
	background: url("../img/logo.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 205px;
	height: 46px;
}
.footer p {
	font-family: Helvetica;
	font-size: 3.5vw;
	line-height: 57px;
	color: #ffffff;
}

/* homework two starting*/
.header-page-two,
.footer-page-two {
	background-color: #fe1a19;
	height: 60px;
}

.footer-page-two p {
	font-family: Helvetica;
	font-weight: bold;
	font-size: 20px;
	line-height: 23px;
	color: #ffffff;
	padding: 20px 0px 0px 20px;
}

.header-page-two p {
	font-weight: bold;
	font-size: 20px;
	line-height: 23px;
	color: #ffffff;
	padding: 20px 20px;
	position: absolute;
}

.main-container-page-two {
	display: block;
	text-align: center;
}
.section-page-two {
	position: relative;
	width: 400px;
	height: 800px;
	display: inline-block;
	border: 5px solid #e5e000;
	box-sizing: border-box;
	border-radius: 30px;
	margin: 52px 0px 52px 50px;
	vertical-align: top;
}

.section-page-two h2 {
	position: absolute;
	font-family: Helvetica;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 23px;
	top: 33px;
	left: 33px;
}
.section-page-two ul {
	position: relative;
	font-family: Times New Roman;
	font-size: 20px;
	line-height: 23px;
	top: 97px;
	left: 33px;
	padding: 0px 0px 20px 0px;
	text-align: left;
}
/* homework three flex starting*/
.header-flex {
	width: 100%;
	left: 0;
	top: 0;
	position: fixed;
	padding: 50px;
	display: flex;
	justify-content: space-between;
}

* {
	box-sizing: border-box;
}

header p {
	font-family: Arial;
	font-size: 50px;
	color: #e50043;
}

.container-menu-flex {
	display: flex;
}

header li {
	font-family: Arial;
	font-size: 50px;
	color: #e50043;
	margin-left: 25px;
}

.flex-container-section-one {
	display: flex;
	background: url("../img/evian_origins_logo.png");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 950px;
	justify-content: center;
	align-items: center;
	margin: 150px 0px 0px 0px;
}

.flex-container-section-one p {
	font-family: Arial;
	font-size: 100px;
	color: #e50043;
	margin: 140px 0px 0px 0px;
}

.flex-container-section-two {
	display: flex;
	margin: 150px 0px 0px 0px;
	justify-content: center;
}

.container-text {
	border: 3px solid #f8bfc7;
	box-sizing: border-box;
	border-radius: 20px;
	width: 1040px;
}

.flex-container-section-two p {
	font-family: Arial;
	font-size: 25px;
	line-height: 29px;
	letter-spacing: 0.05em;
	color: #000000;
	text-align: left;
	padding: 24px;
}

.container-img {
	display: flex;
	justify-content: center;
	margin: 150px 0px 0px 0px;
	height: 863px;
}
.img-one {
	background: url("../img/wang.png");
	background-repeat: no-repeat;
	width: 281px;
}

.img-two {
	background: url("../img/blue.png");
	background-repeat: no-repeat;
	width: 281px;
	margin: 0px 100px 0px 100px;
}

.img-three {
	background: url("../img/chiara.png");
	background-repeat: no-repeat;
	width: 281px;
}

.flex-container-section-three p {
	font-family: Arial;
	font-size: 25px;
	text-align: center;
	color: #000000;
	margin: 911px 0px 0px 0px;
}

.flex-container-section-four {
	display: flex;
	justify-content: center;
	margin: 156px 0px 0px 0px;
}

.container-text-img {
	background: url("../img/glass.png") left no-repeat;
	background-size: 110px;
	background-position: 80px;
	border: 3px solid #f8bfc7;
	border-radius: 20px;
	width: 1040px;
}

.container-text-two p {
	font-family: Arial;
	font-size: 25px;
	line-height: 29px;
	color: #000000;
	margin: 30px 30px 30px 240px;
}

.footer-container-copyright {
	background: #f8bfc7;
	margin: 150px 0px 0px 0px;
}

.footer-container-copyright p {
	font-family: Arial;
	font-size: 50px;
	color: #ffffff;
	padding: 50px;
}

/* homework four (responsive) starting*/

html {
	font-size: 20px;
}
.responsive-header {
	background-color: #ffe138;
}

.responsive-header p {
	color: black;
	font-family: Times New Roman;
	font-size: calc(0.5rem + 3vw);
	text-align: center;
	padding: 50px;
}

.columns-responsive {
	display: flex;
	justify-content: space-evenly;
	margin: 7vw;
}

.column-responsive-image {
	border: 1px solid #000000;
	width: calc((100% - 10vw) / 3);
	height: 100%;
}

.column-responsive-image h2 {
	font-family: Times New Roman;
	font-style: normal;
	font-weight: bold;
	font-size: calc(0.1rem + 1vw);
	padding: 2vw;
}

.column-responsive-image p {
	font-family: Times New Roman;
	font-style: normal;
	font-size: calc(0.1rem + 1vw);
	padding: 2vw;
}

.column-img1 {
	background: url("../img/Meta\ Side\ Table1.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-bottom: 150%;
}

.column-img2 {
	background: url("../img/Click\ Shelf2.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-bottom: 150%;
}

.column-img3 {
	background: url("../img/Float\ Shelf3.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-bottom: 150%;
}

.responsive-footer {
	background-color: #ffe138;
}

.responsive-footer p {
	color: black;
	font-family: Times New Roman;
	font-size: calc(0.5rem + 3vw);
	text-align: center;
	padding: 50px;
}

/* homework five (adaptive) starting*/

* {
	box-sizing: border-box;
}

.adaptive-header {
	background-color: #0000ff;
}

.adaptive-header p {
	font-family: Helvetica;
	font-size: 25px;
	color: white;
	padding: 35px;
}

.columns {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 20vh;
	padding-bottom: 20vh;
}

.column {
	display: flex;
	width: 600px;
	height: 300px;
	border: 5px solid #000000;
	margin: 20px;
}

.column p {
	font-family: Helvetica;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	color: black;
	margin: auto;
}

.adaptive-footer {
	background-color: #0000ff;
}

.adaptive-footer p {
	font-family: Helvetica;
	font-size: 25px;
	color: white;
	padding: 35px;
}

@media screen and (max-width: 768px) {
	.column {
		display: flex;
		width: 300px;
		height: 200px;
		border: 5px solid #000000;
		margin: 20px;
	}
	.column p {
		font-family: Helvetica;
		font-size: 20px;
		font-weight: bold;
		text-align: center;
		color: black;
		margin: auto;
	}
}

@media screen and (max-width: 600px) {
	.header h1 {
		font-family: Helvetica;
		font-size: 20px;
		line-height: 57px;
		color: #ffffff;
		text-align: left;
		box-sizing: border-box;
		padding: 50px;
	}
}

@media screen and (max-width: 600px) {
	.blockLinks a {
		display: flex;
		flex-wrap: wrap;
		font-family: "Roboto", sans-serif;
		font-style: normal;
		font-weight: bold;
		font-size: 10px;
		line-height: 29px;
		color: #ffffff;
		text-decoration: none;
	}
}

@media screen and (max-width: 600px) {
	.footer p {
		font-family: Helvetica;
		font-size: 20px;
		line-height: 57px;
		color: #ffffff;
	}
}

/* homework six (adaptive form) starting*/

* {
	box-sizing: border-box;
}

.header-form {
	display: flex;
	width: 100%;
	background-color: #f8bfc7;
	justify-content: space-between;
}

.block-one {
	display: flex;
	width: 100%;
	padding: 20px;
}
.block-one p {
	padding: 30px;
	font-size: 20px;
	color: black;
	font-weight: bold;
}

.block-two {
	display: flex;
	justify-content: right;
	flex-shrink: 4;
	width: 100%;
	padding: 20px;
}

.block-two p {
	padding: 30px;
	font-size: 20px;
	color: black;
	font-weight: bold;
}

.main-form {
	display: flex;
	padding-bottom: 10%;
	background: url("../img/background-form.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.container-form {
	display: flex;
	margin: 90px 90px;
	background-color: #f8bfc7;
	border: 3px solid #ffffff;
	border-radius: 20px;
}

.set-form {
	padding: 30px;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
}

input {
	font-size: 15px;
	color: white;
	display: block;
	border: none;
	border-bottom: 1px solid white;
	background-color: transparent;
	color: inherit;
	outline: none;
}

input:focus {
	background-color: #f8bfc7;
}

input::-webkit-input-placeholder {
	color: white;
}

input[type="submit"] {
	position: absolute;
	margin: 40px auto;
	width: 200px;
	height: 60px;
	font-size: 20px;
	color: white;
	background-color: #feb700;
	border: 3px solid #ffffff;
	border-radius: 30px;
}

input[type="submit"]:hover {
	background-color: #da9c02;
	color: white;
}

label {
	line-height: 2.8rem;
}

.footer-form {
	display: flex;
	width: 100%;
	background-color: #f8bfc7;
	justify-content: space-between;
}

.footer-form p {
	font-family: Arial, Helvetica, sans-serif;
	padding: 30px;
	font-size: 20px;
	color: black;
	font-weight: bold;
}

@media screen and (max-width: 720px) {
	.block-one {
		display: none;
	}
}

@media screen and (max-width: 480px) {
	.container-form {
		display: flex;
		margin: 80px;
		background-color: #f8bfc7;
		border: 3px solid #ffffff;
		border-radius: 20px;
	}

	.block-two {
		display: flex;
		justify-content: left;
		flex-shrink: 4;
		width: 100%;
		padding: 20px;
	}

	.main-form {
		display: flex;
		padding-bottom: 10%;
		background: none;
		background-color: #ffffff;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	.img-two {
		margin: auto;
		background: url("../img/YellowCat.gif");
		width: 200px;
		height: 200px;
		background-repeat: no-repeat;
		background-size: cover;
		
	}
}

@media screen and (max-width: 380px){
	.container-form {
		display: flex;
		margin:  40px 60px;
		background-color: #f8bfc7;
		border: 3px solid #ffffff;
		border-radius: 20px;
	}
}

@media screen and (max-width: 330px){
	.container-form {
		display: flex;
		margin: 30px;
		background-color: #f8bfc7;
		border: 3px solid #ffffff;
		border-radius: 20px;
	}
}