@import url("reset.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

.pageContainer {
	width: 1440px;
}
.header {
	height: 200px;
	background: #e5e000;
}

.header h1 {
	font-family: Helvetica;
	font-size: 50px;
	line-height: 57px;
	color: #ffffff;
}
.nameSurname h1 {
	font-family: Helvetica;
	font-size: 50px;
	line-height: 57px;
	color: #ffffff;
}
.img {
	background: url("../img/driko.jpg") no-repeat;
	background-size: cover;
	background-position: center;
	height: 1080px;
}
.blockLinks {
	background: #e5e000;
	height: 100px;
}
.blockLinks a {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	line-height: 29px;
	color: #ffffff;
	text-decoration: none;
}
.aboutMe p {
	height: 637px;
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-size: 50px;
	line-height: 57px;

	color: #000000;
}
.aboutMe h2 {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	line-height: 57px;
}
.footer {
	height: 200px;
	background: #e5e000;
}
.imgLogo {
	background: url("../img/logo.png");
	width: 205px;
	height: 45px;
}
.footer p {
	font-family: Helvetica;
	font-size: 50px;
	line-height: 57px;
	color: #ffffff;
}

/* homework two starting*/
.header-page-two,
.footer-page-two {
	background-color: #fe1a19;
	height: 60px;
}

.footer-page-two p {
	font-family: Helvetica;
	font-weight: bold;
	font-size: 20px;
	line-height: 23px;
	color: #ffffff;
	padding: 20px 0px 0px 20px;
}

.header-page-two p {
	font-weight: bold;
	font-size: 20px;
	line-height: 23px;
	color: #ffffff;
	padding: 20px 20px;
	position: absolute;
}

.main-container-page-two {
	display: block;
	text-align: center;
}
.section-page-two {
	position: relative;
	width: 400px;
	height: 800px;
	display: inline-block;
	border: 5px solid #e5e000;
	box-sizing: border-box;
	border-radius: 30px;
	margin: 52px 0px 52px 50px;
	vertical-align: top;
}

.section-page-two h2 {
	position: absolute;
	font-family: Helvetica;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 23px;
	top: 33px;
	left: 33px;
}
.section-page-two ul {
	position: relative;
	font-family: Times New Roman;
	font-size: 20px;
	line-height: 23px;
	top: 97px;
	left: 33px;
	padding: 0px 0px 20px 0px;
	text-align: left;
}
/* homework three flex starting*/
.header-flex {
	display: flex;
	position: sticky;
	justify-content: space-around;
	top: 0;
	left: 0;
	margin: auto;
	flex-wrap: wrap;
}

header p {
	padding: 50px 50px 50px;
	display: flex;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	line-height: 57px;
	color: #e50043;
	flex-wrap: wrap;
}

header li {
	padding: 50px 0px 0px 25px;
	display: inline-block;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	line-height: 57px;
	color: #e50043;
	flex-wrap: wrap;
}

.flex-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.hero-img {
	background: url("../img/evian_origins_logo.png") no-repeat;
	width: 1440px;
	height: 950px;
	top: 140px;
	text-align: center;
}

section p {
	position: absolute;
	color: #e50043;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 100px;
	line-height: 115px;
	text-align: center;
	align-items: center;
	top: 475px;
}

.section-two {
	display: flex;
	justify-content: center;
}

.section-flex-container-two {
	position: relative;
	width: 1040px;
	top: 150px;
	border: 3px solid #f8bfc7;
	box-sizing: border-box;
	border-radius: 20px;
}

.section-flex-container-two p {
	top: 0;
	left: 0;
	padding: 25px;
	position: relative;
	display: inline-block;
	color: black;
	font-family: Arial;
	font-size: 25px;
	line-height: 29px;
	align-items: center;
	letter-spacing: 0.05em;
	text-align: left;
}

.section-three {
	position: relative;
	top: 150px;
}
.container-section-three {
	display: flex;
	position: relative;
	justify-content: center;
	top: 150px;
}

.img-bottles-block {
	background: url("../img/wang.png");
	background-repeat: no-repeat;
	width: 281px;
	height: 863px;
	padding: 50px;
}
.img-bottles-block-two {
	background: url("../img/chiara.png");
	background-repeat: no-repeat;
	width: 281px;
	height: 863px;
	padding: 50px;
}

.img-bottles-block-three {
	background: url("../img/blue.png");
	background-repeat: no-repeat;
	width: 281px;
	height: 863px;
	padding: 50px;
}

.section-four {
	display: flex;
	justify-content: center;
}
.container-section-four {
	position: relative;
	top: 156px;
	width: 1040px;
	border: 3px solid #f8bfc7;
	box-sizing: border-box;
	border-radius: 20px;
}

.container-section-four p {
	top: 0;
	left: 0;
	padding: 25px;
	position: relative;
	display: inline-block;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	line-height: 29px;
}
